.mat-column-name {
    text-align: left;
}

.mat-column-type {
    text-align: center;
}

.mat-column-complex {
    text-align: center;
}

.mat-column-value {
    text-align: center;
}

.mat-column-actions {
    width: 130px;
    text-align: center;
}