<mat-toolbar color="primary" class="mat-toolbar-header">
    <mat-toolbar-row>
        <img class="logo" src="./assets/logo.png"/>

        <span>{{ app.title }} </span>
        
        <mat-divider vertical *ngIf="canShow()"></mat-divider>
        <div class="divTable project-detail" *ngIf="canShow()">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableHeading">Projeto:</div>
                    <div class="divTableCell">{{ apf.project.name }}</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableHeading">Descrição:</div>
                    <div class="divTableCell">{{ apf.project.description }}</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableHeading">Data:</div>
                    <div class="divTableCell">{{ apf.project.date | date: 'dd/MM/yyyy' }}</div>
                </div>
            </div>
        </div>

        <span class="spacer"></span>
        <mat-divider vertical></mat-divider>
        <span>Em desenvolvimento</span>

        <!-- <span class="spacer" *ngIf="canShow()"></span> -->
        <mat-divider vertical *ngIf="canShow()"></mat-divider>
        <span *ngIf="canShow()">{{ apf.project.value }} pontos</span>
    </mat-toolbar-row>
</mat-toolbar>