<h3 mat-dialog-title>Selecione uma ação</h3>
<div mat-dialog-content class="content">
    <table mat-table [dataSource]="selecteds">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab color="accent" class="card-action-button"
                    (click)="edit(element)" matTooltip="Editar Função">
                    <mat-icon fontIcon="edit"></mat-icon>
                </button>
                <button mat-mini-fab color="accent" class="card-action-button"
                    (click)="delete(element)" disabled="{{ !canDelete(element) }}"
                    matTooltip="Excluir Função">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <p *ngIf="data.functionType === FunctionType.ALI || data.functionType === FunctionType.AIE">
        Funções de dados não podem ser excluídas se forem referenciadas por outras funções.
    </p>
</div>
<div mat-dialog-actions>
    <hr width="100%">
    <span class="spacer"></span>
    <button mat-raised-button [mat-dialog-close]="true" color="accent" (click)="doConfirm()">
        Confirmar
        <mat-icon>check</mat-icon>
    </button>    
    <button mat-raised-button [mat-dialog-close]="true" color="accent">
        Cancelar
        <mat-icon>cancel</mat-icon>
    </button>
</div>