<h1 mat-dialog-title>Nova Função</h1>

<div mat-dialog-content>
    <div *ngIf="page === PageType.SELECT_TYPE">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="name" [(ngModel)]="name" 
                placeholder="Nome da Função.">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput type="text" id="description" [(ngModel)]="description"
                placeholder="Descrição sobre a Função.">
        </mat-form-field>
        <label>Tipo de Função:</label>
        <mat-radio-group [(ngModel)]="functionType">
            <mat-radio-button [value]="FunctionType.ALI">ALI</mat-radio-button>
            <mat-radio-button [value]="FunctionType.AIE">AIE</mat-radio-button>
            <mat-radio-button [value]="FunctionType.EE">EE</mat-radio-button>
            <mat-radio-button [value]="FunctionType.CE">CE</mat-radio-button>
            <mat-radio-button [value]="FunctionType.SE">SE</mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="page === PageType.DATA_TYPE">
        <h3>ALI/AIE</h3>
        <mat-form-field>
            <mat-label>Lista de DER</mat-label>
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let der of dataDERs"
                            (removed)="dataDERRemove(der)"
                            [editable]="true"
                            (edited)="dataDEREdit(der, $event)">
                {{ der.name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Adicionar DER..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="dataDERAdd($event)"/>
            </mat-chip-grid>
          </mat-form-field>
    </div>

    <div *ngIf="page === PageType.DATA_TYPE_EXTRA">
        Data Type Extra
    </div>

    <div *ngIf="page === PageType.TRANSACTION_TYPE">
        Transaction Type
    </div>    

    <div *ngIf="page === PageType.RESULT">
        Result
    </div>
</div>
<div mat-dialog-actions>
    <hr width="100%">
    <span class="spacer"></span>
    <button mat-raised-button color="accent" disabled="{{ !canPrevious() }}" *ngIf="isPreviousVisible()"
        (click)="doPrevious()">
        Anterior
        <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-raised-button color="accent" disabled="{{ !canNext() }}" *ngIf="isNextVisible()"
        (click)="doNext()">
        Próximo
        <mat-icon>navigate_next</mat-icon>
    </button>
    
    <button mat-raised-button [mat-dialog-close]="true" color="accent" 
        disabled="!canConfirm()" *ngIf="isConfirmVisible()">
        Confirmar
        <mat-icon>check</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close color="accent">
        Cancelar
        <mat-icon>cancel</mat-icon>
    </button>
</div>