<h1 mat-dialog-title>Nova Função</h1>

<div mat-dialog-content>
    <div *ngIf="page === PageType.SELECT_TYPE">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="name" [(ngModel)]="name"
                placeholder="Nome da Função.">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput type="text" id="description" [(ngModel)]="description"
                placeholder="Descrição sobre a Função.">
        </mat-form-field>
        <label>Tipo de Função:</label>
        <mat-radio-group [(ngModel)]="functionType">
            <mat-radio-button [value]="FunctionType.ALI">{{FunctionType[FunctionType.ALI]}}</mat-radio-button>
            <mat-radio-button [value]="FunctionType.AIE">{{FunctionType[FunctionType.AIE]}}</mat-radio-button>
            <mat-radio-button [value]="FunctionType.CE" [disabled]="!hasFunctionData()">{{FunctionType[FunctionType.CE]}}</mat-radio-button>
            <mat-radio-button [value]="FunctionType.EE" [disabled]="!hasFunctionData()">{{FunctionType[FunctionType.EE]}}</mat-radio-button>
            <mat-radio-button [value]="FunctionType.SE" [disabled]="!hasFunctionData()">{{FunctionType[FunctionType.SE]}}</mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="page === PageType.DATA_TYPE_DER">
        <h3>[{{FunctionType[functionType]}}] - {{ name }}</h3>
        <mat-form-field>
            <mat-label>Dados Elementares Relacionados (DER)</mat-label>
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let der of dataDERs"
                            (removed)="dataDERRemove(der)"
                            [editable]="true"
                            (edited)="dataDEREdit(der, $event)">
                {{ der.name }}
                <button matChipRemove>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Adicionar Dado Elementar Relacionado (DER)..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="dataDERAdd($event)"/>
            </mat-chip-grid>
          </mat-form-field>
    </div>

    <div *ngIf="page === PageType.DATA_TYPE_RLR">
        <h3>[{{FunctionType[functionType]}}] - {{ name }}</h3>
        <mat-form-field>
            <mat-label>Registros Elementares Relacionados (RLR)</mat-label>
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let der of dataRLRs"
                            (removed)="dataRLRRemove(der)"
                            [editable]="true"
                            (edited)="dataRLREdit(der, $event)">
                {{ der.name }}
                <button matChipRemove>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Adicionar Registro Elementar Relacionado (RLR)..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="dataRLRAdd($event)"/>
            </mat-chip-grid>
          </mat-form-field>
    </div>    

    <div *ngIf="page === PageType.DATA_TYPE_EXTRA">
        <h3>[{{FunctionType[functionType]}}] - {{ name }}</h3>
        <h4>Funções de Transação relacionadas:</h4>
        <mat-checkbox class="example-margin" [(ngModel)]="checkRead">Consultar</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="checkCreate">Incluir</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="checkUpdate">Alterar</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="checkDelete">Excluir</mat-checkbox>
    </div>

    <div *ngIf="page === PageType.TRANSACTION_TYPE">
        <h3>[{{FunctionType[functionType]}}] - {{ name }}</h3>
        <h4>Arquivos Lógicos Relacionados (ALR)</h4>
        <mat-selection-list [(ngModel)]="selectedsDataFunctions" [compareWith]="compareFunctions">
            <mat-list-option *ngFor="let fun of listFunctionData()" [value]="fun">
                {{ fun.name }}
            </mat-list-option>
        </mat-selection-list>
    </div>

    <div *ngIf="page === PageType.RESULT">
        <h3>{{ name }}</h3>
        <ng-template 
            [ngIf]="functionType === FunctionType.ALI || functionType === FunctionType.AIE"
            [ngIfThen]="resultData" [ngIfElse]="resultTransaction">
        </ng-template>
        <ng-template #resultData>
            <p>Informados {{ dataDERs.length }} DERs.</p>
            <P>Informados {{ dataRLRs.length }} RLRs.</P>
            <p>Criar automaticamente as funções de:</p>
            <ul>
                <li *ngIf="checkRead">Consultar</li>
                <li *ngIf="checkCreate">Incluir</li>
                <li *ngIf="checkUpdate">Alterar</li>
                <li *ngIf="checkDelete">Excluir</li>
            </ul>
        </ng-template>
        <ng-template #resultTransaction>
            <p>Associar com as funções de dados:</p>
            <ul>
                <li *ngFor="let fun of selectedsDataFunctions">{{ fun.name }}</li>
            </ul>
        </ng-template>
    </div>
</div>
<div mat-dialog-actions>
    <hr width="100%">
    <span class="spacer"></span>
    <button mat-raised-button color="accent" disabled="{{ !canPrevious() }}" *ngIf="isPreviousVisible()"
        (click)="doPrevious()">
        Anterior
        <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-raised-button color="accent" disabled="{{ !canNext() }}" *ngIf="isNextVisible()"
        (click)="doNext()">
        Próximo
        <mat-icon>navigate_next</mat-icon>
    </button>

    <button mat-raised-button [mat-dialog-close]="true" color="accent"
        disabled="{{ !canConfirm() }}" *ngIf="isConfirmVisible()" (click)="doConfirm()">
        Confirmar
        <mat-icon>check</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close color="accent">
        Cancelar
        <mat-icon>check</mat-icon>
    </button>
</div>