<section class="container">
    <mat-card class="unique-item">
        <mat-card-header>
            <mat-card-title>
                Função de Transação ({{ Functiontype[data.type] }})
            </mat-card-title>
            <span class="spacer"></span>
            <mat-divider vertical></mat-divider>
            <button mat-mini-fab class="card-action-button" color="accent" 
                disabled="{{ ! canConfirm() }}"
                (click)="confirm()" matTooltip="Salvar">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-mini-fab class="card-action-button" color="accent" 
                (click)="cancel()" matTooltip="Canclear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput type="text" id="name" [(ngModel)]="data.name"
                    placeholder="Nome da Função.">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <input matInput type="text" id="description" [(ngModel)]="data.description"
                    placeholder="Descrição sobre a Função.">
            </mat-form-field>

            <mat-card appearance="outlined">
                <mat-card-content>
                    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" color="accent">
                        <mat-tab label="ALR (Arquivos Lógicos Referenciados)">
                            <mat-selection-list [(ngModel)]="data.alrs" [compareWith]="compareFunctions">
                                <mat-list-option *ngFor="let fun of listFunctionData()" [value]="fun">
                                    {{ fun.name }}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-tab>

                        <mat-tab label="DER (Dados Elementares Relacionados)">
                            <table mat-table [dataSource]="data.ders">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                                </ng-container>
                
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef>Descrição</th>
                                    <td mat-cell *matCellDef="let element">{{ element.description }} </td>
                                </ng-container>
                
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <button mat-mini-fab class="card-action-button" color="accent" 
                                            (click)="addDER()" matTooltip="Adicionar">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-mini-fab class="card-action-button" color="accent" 
                                            (click)="editDER(element)" matTooltip="Editar">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-mini-fab class="card-action-button" color="accent" 
                                            (click)="removeDER(element)" matTooltip="Excluir">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
        
                                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                                <tr mat-row *matRowDef="let row; columns: columns;"></tr>    
                            </table>                    
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</section>