<section class="container">
    <mat-card class="unique-item">
        <mat-toolbar color="primary">
            Função de Transação ({{ Functiontype[data.type] }})
            <span class="spacer"></span>
            <mat-divider vertical></mat-divider>
            <button mat-mini-fab class="card-action-button" color="accent" 
                (click)="confirm()" matTooltip="Salvar">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-mini-fab class="card-action-button" color="accent" 
                (click)="cancel()" matTooltip="Canclear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput type="text" id="name" [(ngModel)]="data.name"
                    placeholder="Nome da Função.">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <input matInput type="text" id="description" [(ngModel)]="data.description"
                    placeholder="Descrição sobre a Função.">
            </mat-form-field>

            <mat-card appearance="outlined">
                <mat-card-header class="alr-header">
                    Arquivos Lógicos Referenciados (ALR)
                </mat-card-header>
                <mat-card-content>
                    <mat-selection-list [(ngModel)]="data.alrs" [compareWith]="compareFunctions">
                        <mat-list-option *ngFor="let fun of listFunctionData()" [value]="fun">
                            {{ fun.name }}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</section>