@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config !=null {
        @include color($color-config);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config !=null {
        @include typography($typography-config);
    }
}

@mixin color($config) {
}

@mixin typography($config) {
}

.item {
    flex: 1 1 auto;
    width: 25%;
    min-width: 100px;
    font-weight: bold;
}