<mat-toolbar color="secundary" class="mat-toolbar-menu">
    <mat-toolbar-row>
        <span class="spacer"></span>
        <button mat-mini-fab color="accent" class="menu-button" matTooltip="Adicionar Módulo">
            <mat-icon fontIcon="control_point_duplicate"></mat-icon>
        </button>
        <button mat-mini-fab color="accent" class="menu-button" matTooltip="Ajustes do Projeto">
            <mat-icon fontIcon="settings"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>