<mat-toolbar color="secundary" class="mat-toolbar-menu">
    <mat-toolbar-row>
        <span class="title">
            [
                {{ title }}
            ]
        </span>
        <span class="spacer"></span>

        <button mat-mini-fab color="accent" class="card-action-button" 
            (click)="showHome()" *ngIf="!isHome()" matTooltip="Início.">
            <mat-icon>home</mat-icon>
        </button>

        <button mat-mini-fab color="accent" class="card-action-button" 
            (click)="showProperties()" *ngIf="!isProperties()" matTooltip="Propriedades do projeto.">
            <mat-icon>settings</mat-icon>
        </button>

        <button mat-mini-fab color="accent" class="card-action-button" 
            (click)="showModules()" *ngIf="!isModules()" matTooltip="Módulos.">
            <mat-icon>format_list_bulleted</mat-icon>
        </button>

        <button mat-mini-fab color="accent" class="card-action-button" 
            (click)="newModule()" *ngIf="isModules()" matTooltip="Adicionar Novo Módulo.">
            <mat-icon>format_list_bulleted_add</mat-icon>
        </button>

        <mat-divider vertical></mat-divider>

        <button mat-mini-fab color="accent" class="card-action-button" 
            (click)="newProject()" matTooltip="Novo Projeto.">
            <mat-icon>dashboard</mat-icon>
        </button>

        <button mat-mini-fab color="accent" class="card-action-button" 
            (click)="import()" matTooltip="Importar APF.">
            <mat-icon>upload_file</mat-icon>
        </button>

        <button mat-mini-fab color="accent" class="card-action-button" 
            (click)="export()" matTooltip="Exportar APF.">
            <mat-icon>download_file</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>