<mat-toolbar color="secundary" class="mat-toolbar-menu">
    <mat-toolbar-row>
        <span class="spacer"></span>

        <button mat-mini-fab color="accent" class="card-action-button" matTooltip="Propriedades do projeto.">
            <mat-icon fontIcon="edit"></mat-icon>
        </button>

        <button mat-mini-fab color="accent" class="card-action-button" matTooltip="Módulos.">
            <mat-icon fontIcon="storage"></mat-icon>
        </button>

        <mat-divider vertical></mat-divider>

        <button mat-mini-fab color="accent" class="card-action-button" matTooltip="Importar APF.">
            <mat-icon fontIcon="upload_file"></mat-icon>
        </button>

        <button mat-mini-fab color="accent" class="card-action-button" matTooltip="Exportar APF.">
            <mat-icon fontIcon="download_file"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>