<h1 mat-dialog-title>Módulo</h1>
<div mat-dialog-content class="content">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" id="name" [(ngModel)]="data.name" placeholder="Nome do Módulo.">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Evidência</mat-label>
        <input matInput type="text" id="description" [(ngModel)]="data.description"
            placeholder="Descrição sobre o Módulo.">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <hr width="100%">
    <span class="spacer"></span>
    <button mat-raised-button [mat-dialog-close]="data" color="accent">
        Confirmar
        <mat-icon>check</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close color="accent">
        Cancelar
        <mat-icon>cancel</mat-icon>
    </button>
</div>