.der-header {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid;
    border-bottom-color: var(--mdc-outlined-card-outline-color);
}

.mat-column-actions {
    width: 130px;
    text-align: center;
}