<section class="container">

    <mat-card class="home-project">
        <mat-card-content class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableHeading">Projeto:</div>
                    <div class="divTableCell">{{ project.name }}</div>
                </div>
                
                <div class="divTableRow">
                    <div class="divTableHeading">Descrição:</div>
                    <div class="divTableCell">{{ project.description }}</div>
                </div>
                
                <div class="divTableRow">
                    <div class="divTableHeading">Data:</div>
                    <div class="divTableCell">{{ project.date | date: 'dd/MM/yyyy' }}</div>
                </div>

                <div class="divTableRow">
                    <div class="divTableHeading">Responsável:</div>
                    <div class="divTableCell">{{ project.responsible }}</div>
                </div>

                <div class="divTableRow">
                    <div class="divTableHeading">Modulos:</div>
                    <div class="divTableCell">{{ project.modules.length }}</div>
                </div>

                <div class="divTableRow">
                    <div class="divTableHeading">Total:</div>
                    <div class="divTableCell">{{ project.score }} pontos</div>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions align="end" class="card-action-bar">
            <button mat-mini-fab color="accent" matTooltip="Propriedades do projeto.">
                <mat-icon fontIcon="settings"></mat-icon>
            </button>

            <button mat-mini-fab color="accent" matTooltip="Módulos.">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>

            <mat-divider vertical></mat-divider>

            <button mat-mini-fab color="accent" matTooltip="Importar APF.">
                <mat-icon fontIcon="import"></mat-icon>
            </button>

            <button mat-mini-fab color="accent" matTooltip="Exportar APF.">
                <mat-icon fontIcon="export"></mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="home-graphic">
        <mat-card-content>
            <div class="divTable" style="width: 300px; text-align: center; color: black;">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell cell01">50</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell02">100</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell03">200</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell04">300</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell05">400</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell06">500</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell07">600</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell08">700</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell09">800</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell10">900</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell11">A100</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell12">A200</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell13">A400</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell14">A700</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell15">contrast</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell16">default</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell17">lighter</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell18">darker</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell19">text</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell20">default-contrast</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell21">lighter-contrast</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell cell22">darker-contrast</div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</section>