@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config !=null {
        @include color($color-config);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config !=null {
        @include typography($typography-config);
    }
}

@mixin color($config) {
    $primary: map.get($config, 'primary');

    .card-action-bar {
        background-color: mat.get-color-from-palette($primary, default);
    }    
}

@mixin typography($config) {
    
}

.home-project {
    flex: 4 1 auto
}

.card-properties {
    margin-top: 1em;
    margin-bottom: 1em;
}

.home-graphic {
    flex: 8 3 auto
}

// .chart {
//     margin: auto;
//     min-height: 300px;
//     min-width: 300px;
// }