@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config !=null {
        @include color($color-config);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config !=null {
        @include typography($typography-config);
    }
}

@mixin color($config) {
    $primary: map.get($config, 'primary');

    .card-action-bar {
        background-color: mat.get-color-from-palette($primary, default);
    }    
}

@mixin typography($config) {
}

.home-project {
    flex: 4 1 auto;
}

.home-resume {
    flex: 4 1 auto;
}

.home-graphic {
    flex: 4 1 auto;
}

.effort {
    margin-top: 16px;
}

.effort-table {
    width: 100%;
}

.effort-value {
    text-align: right;
}